# ===============================
# DATASETS (DVC ONLY)
# ===============================
# 1. ปิดตายห้อง data ทั้งหมดก่อน (กันไฟล์มั่วหลุดเข้า)
data/**

# 2. ❗ แต่ขอ "ยกเว้น" ไฟล์ใบเสร็จ (.dvc) เอาไว้ (สำคัญมาก!)
!data/**/*.dvc

# 3. (แถม) ยกเว้นไฟล์ .gitignore ในนั้นด้วย (เผื่อมี)
!data/**/.gitignore

# ===============================
# IMAGES (Global)
# ===============================
*.jpg
*.jpeg
*.png
*.bmp


# ===============================
# MODELS
# ===============================
*.pth
*.pt
*.onnx
checkpoints/
weights/

# ===============================
# CACHE / TEMP
# ===============================
__pycache__/
*.pyc
logs/
.ipynb_checkpoints/

# ===============================
# ENV / OS
# ===============================
.env
.venv
venv/
.DS_Store

# ===============================
# DVC CACHE
# ===============================
.dvc/cache

# --- Terraform ---
# โฟลเดอร์ที่เก็บ Plugin (ไฟล์หนักๆ ไม่เอาขึ้น)
infra/.terraform/

# ไฟล์ State (สำคัญมาก! ห้ามเอาขึ้น Git เด็ดขาด เพราะมันเก็บ Secret Key พี่ไว้ในนี้แบบ Plain Text)
infra/*.tfstate
infra/*.tfstate.backup

# ไฟล์ตัวแปรความลับ (ถ้ามี)
infra/*.tfvars
infra/*.auto.tfvars

# ไฟล์ log crash
infra/crash.log
actions-runner/
actions-runner/
actions-runner/

/experiments/
/data/processed_box/
/data/processed_pill/
/data/dataset_split_box/
/data/dataset_split_pill/
/data/dataset_train_final_box/
/data/dataset_train_final_pill/
dvc.lockgit push origin main
