# ===============================
# DATASETS (DVC ONLY)
# ===============================
data/**

# images
*.jpg
*.jpeg
*.png
*.bmp

# ===============================
# MODELS
# ===============================
*.pth
*.pt
*.onnx
checkpoints/
weights/

# ===============================
# CACHE / TEMP
# ===============================
__pycache__/
*.pyc
logs/
.ipynb_checkpoints/

# ===============================
# ENV / OS
# ===============================
.env
.venv
venv/
.DS_Store

# ===============================
# DVC CACHE
# ===============================
.dvc/cache

# --- Terraform ---
# โฟลเดอร์ที่เก็บ Plugin (ไฟล์หนักๆ ไม่เอาขึ้น)
infra/.terraform/

# ไฟล์ State (สำคัญมาก! ห้ามเอาขึ้น Git เด็ดขาด เพราะมันเก็บ Secret Key พี่ไว้ในนี้แบบ Plain Text)
infra/*.tfstate
infra/*.tfstate.backup

# ไฟล์ตัวแปรความลับ (ถ้ามี)
infra/*.tfvars
infra/*.auto.tfvars

# ไฟล์ log crash
infra/crash.log
actions-runner/
actions-runner/
actions-runner/
