# torch            <-- ใส่ # ไว้
# torchvision      <-- ใส่ # ไว้
dvc[s3]
pandas
numpy
scikit-learn
opencv-python
timm
python-dotenv
pyyaml
boto3
rembg[gpu]
onnxruntime-gpu
Pillow
pooch
jsonschema
scikit-image
scipy
pymatting
filetype
gradio